# Maven target directory
/target/

# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Build output
out/

# IntelliJ caches
/.gradle/
/build/

# If using Eclipse
.springBeans

# If using VS Code
.vscode/

# Ignore external libraries
lib/
*.jar
